.vscode/**
.vscode-test/**
src/**
out/test/**
out/core/**
esbuild.js
.gitignore
.yarnrc
vsc-extension-quickstart.md
PLAN.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!src/panelWebview.css
!src/py/sidecar.py