button {
    background: #384d3e;
    color: white;
    border: #273635;
    padding: 7px 13px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}
.fixed-bottom-right {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1001;
}
.tooltip:not(.fixed-bottom-right) {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {  
    visibility: hidden;  
    width: 200px;  
    background-color: var(--vscode-editor-background);  
    color: var(--vscode-editor-foreground);  
    text-align: center;  
    border-radius: 6px;  
    padding: 5px;  
    position: absolute;  
    z-index: 1000;  
    bottom: 125%;  
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
    font-size: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}  

.tooltip:hover .tooltiptext {  
    visibility: visible;  
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}
.load-more,
.revert,
.re-revert {
    display: none;
}
.load-more.default-visible {
    display: inline-block;
}